.my-portfolio {
    margin: 20px 0;
    .item-container {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        justify-content: center;

        .item-box {
            width: 250px;
            cursor: pointer;
            transition: 0.3s;
            border-radius: 5px;

            .item-image {
                display: flex;
                align-items: center;
                width: 250px;
                height: 200px;
                overflow: hidden;
                border: 1px solid var(--highlight);
                border-radius: 5px;
                opacity: 0.8;

                img {
                    height: 200px;
                }
            }

            .item-details {
                font-weight: bold;
                font-size: 0.9rem;
                color: var(--highlight);
                opacity: 0.8;
            }

            &:hover {
                .item-image {
                    opacity: 1;
                }
                .item-details {
                    opacity: 1;
                    p {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .center0img {
        display: flex !important;
        justify-content: center;
    }
}
