.my-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--background);
    z-index: 10;

    .nav-title {
        padding: 20px 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 20px;

        i {
            font-size: 15px;
            border: 1px solid var(--gray);
            padding: 20px;
            border-radius: 100%;
            color: rgb(117, 117, 117);
        }
    }

    .nav-menu {
        padding: 20px;
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                display: flex;
                align-items: center;
                gap: 3px;
                cursor: pointer;
                font-size: 0.8rem;


                a {
                    text-decoration: none;
                    color: var(--normal-font-color);

                    &::after {
                        content: '';
                        display: block;
                        width: 0%;
                        height: 2px;
                        position: relative;
                        bottom: 0.10em;
                        background-color: var(--normal-font-color);
                        transition: var(--transition) !important;
                        opacity: 0.5;
                    }
                    &:hover {
                
                        &::after {
                            width: 100%;
                        }
                    }
                    &.router-link-exact-active {
                        color: var(--highlight);
                        &::after {
                            width: 100%;
                            background-color: var(--highlight);
                        }
                    }
                }
                
            }
        }
    }
}