.my-header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: var(--nav-height);
    background-color: var(--background);
    z-index: 10;

    .open-nav-button {
        position: fixed;
        top: 10px;
        right: 0;
        font-size: 30px;
        padding: 4px 10px 4px 20px;
        border-radius:20px  0 0 20px;
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        margin-right: -100px;
        background-color: #fff;
        display: none;

        &.show {
            margin-right: 0px;
        }
    }

    .nav-title {
        padding: 20px 30px;
        font-size: 15px;
        display: flex;
        align-items: center;
        gap: 20px;

        i {
            font-size: 15px;
            border: 1px solid var(--gray);
            padding: 20px;
            border-radius: 100%;
            color: rgb(117, 117, 117);
        }
    }

    .nav-menu {
        padding: 20px;
        ul {
            list-style: none;
            display: flex;
            gap: 20px;

            li {
                display: flex;
                align-items: center;
                gap: 3px;
                cursor: pointer;
                font-size: 0.8rem;


                a {
                    text-decoration: none;
                    color: var(--normal-font-color);

                    &::after {
                        content: '';
                        display: block;
                        width: 0%;
                        height: 2px;
                        position: relative;
                        bottom: 0.10em;
                        background-color: var(--normal-font-color);
                        transition: var(--transition) !important;
                        opacity: 0.5;
                    }
                    &:hover {
                
                        &::after {
                            width: 100%;
                        }
                    }
                    &.router-link-exact-active {
                        color: var(--highlight);
                        &::after {
                            width: 100%;
                            background-color: var(--highlight);
                        }
                    }
                }
                
            }
        }
    }
}

.close-nav-button {
    display: none;
}

@media only screen and (max-width: 650px) {
    .my-header {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0vw;
        transition: 0.3s;

        &.show {
            margin-left: 100vw;
        }

        .open-nav-button {
            display: block;
        }

        .nav-title {
            justify-content: space-between;
            width: 100%;
            a {padding: 20px;}
            div {padding:20px;}
        }

        .close-nav-button {
            display: block;
        }

        .nav-menu {
            ul {
                flex-direction: column;
            }
        }
    }
}